<!DOCTYPE html>
<html lang="en">
  {{#with copy}}
  <head>
    {{#with browser-meta}}
    <title>{{tab-title}}</title>
    <!-- browser metas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />

    <!-- embed metas - https://ogp.me/ -->
    <meta property="og:title" content="{{og-title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{og-url}}" />
    <meta property="og:image" content="{{og-image}}" />
    <meta
      property="og:description"
      content="{{og-description}}"
    />
    <meta property="og:locale" content="en_GB" />
    {{/with}}

    <!-- favicons -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- stylesheets -->
    {{!-- hot reload doesn't work with inline styles --}}
    {{#if (serve)}}
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="stylesheet" href="/star.css" />
    {{else}}
    <style>
      {{css "stylesheet.css"}}
      {{cssmin "star.css"}}
    </style>
    {{/if}}

    <!-- scripts -->
    <script data-goatcounter="https://alfierenndev.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <script>
      // scroll portfolio on click
      function portfolioLeft() {
        const portfolio = document.querySelector("#portfolio .portfolio");
        let screenwidth = window.innerWidth;
        portfolio.scroll({
          left: portfolio.scrollLeft - screenwidth + 100,
          behavior: "smooth",
        })
      }
      function portfolioRight() {
        const portfolio = document.querySelector("#portfolio .portfolio");
        let screenwidth = window.innerWidth;
        portfolio.scroll({
          left: portfolio.scrollLeft + screenwidth - 100,
          behavior: "smooth",
        })
      }
    </script>
  </head>
  <body>
    <header>
      {{#with image}}
        {{{eleventyimage src "image" alt width}}}
      {{/with}}
      <section class="info">
        <h1 id="name" class="name">{{name}}</h1>
        <h2 id="subtitle" class="subtitle">{{subtitle}}</h2>
        <a href="mailto:{{email}}">{{email}}</a>
      </section>
    </header>
    <main>
      <section id="wwwww">
        <div class="wwwww">
          {{#each wwwww}}
          <article>
            <h2 id="{{@key}}">{{@key}}</h2>
            <span>{{question}}</span>
            <p>{{{text}}}</p>
          </article>
          {{/each}}
        </div>
      </section>
      <section id="portfolio">
        <h2 id="websites-ive-made">Websites I've made</h2>
        <div class="scroller">
          <div class="portfolio">
            {{#each portfolio.sites}}
            <article>
              <h3 id="{{title}}">{{title}}</h3>
              {{#if link}}
              <a target="_blank" href="{{link}}">{{niceLink link}}</a>
              {{/if}}
              {{#with image}}
              {{{eleventyimage src "" alt width}}}
              {{/with}}
              <p>{{description}}</p>
              <div class="tools">
                {{#each tools}}
                <span>{{this}}</span>
                {{/each}}
              </div>
            </article>
            {{/each}}
          </div>
          <button class="left" onclick="portfolioLeft()">&lt;</button>
          <button class="right" onclick="portfolioRight()">&gt;</button>
        </div>
      </section>
      <section id="testimonials">
        <h2 id="quotes">Testimonials</h2>
        <div class="testimonials">
          {{#each testimonials}}
          <article>
            <p>{{text}}</p>
            <span class="quoter">{{quoter}},</span>
            {{#if link}}
            <a target="_blank" href="{{link}}"><span class="source">{{source}}</span></a>
            {{else}}
            <span class="source">{{source}}</span>
            {{/if}}
          </article>
          {{/each}}
        </div>
      </section>
    </main>
    <footer>
      <h2 id="contact">Contact</h2>
      <section class="contact">
        <div class="email">
          <span>email: </span>
          <a href="mailto:{{email}}">{{email}}</a>
        </div>
        <div class="github">
          <span>github: </span>
          <a target="_blank" href="https://github.com/{{github}}">
            {{github}}
          </a>
        </div>
      </section>
    </footer>
  </body>
  {{/with}}
</html>
